{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Viewer</title>
    
    <link rel="stylesheet" href="{% static 'libs/v7.1.0-ol/ol.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{% static 'libs/v7.1.0-ol/dist/ol.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <label id="countryLabel">Country: </label>
    <input type="text" id="countryInput">
    <button type="button" id="drawSingleGeomButton">Draw Geometry</button>
    <button type="button" id="drawCountryAirports">Draw country airports</button>


    <label id="distanceLabel" hidden>Distance: </label>
    <input type="text" id="distanceInput" hidden>
    <button type="button" id="drawCountriesInDist" hidden>Draw Countries in distance [km]</button>

    <button type="button" id="drawNeighboursButton" hidden>Draw Neighbours</button>

    <select name="options" id="select1">
        <option value="single">Single Country</option>
        <option value="distance">Countries in distance</option>
        <option value="neighbours">Neighbours</option>
    </select>

    <button type="button" id="drawAirports">Draw airports</button>
    
    <button type="button" id="drawCounties" hidden>Draw Counties</button>

    <button type="button" id="switchToPolandView">Switch to Poland View</button>
    <button type="button" id="switchToWorldView" hidden>Switch to World View</button>
    
    <button type="button" id="hoverButtonOn">Turn hover on</button>
    <button type="button" id="hoverButtonOff" hidden>Trun hover off</button>

    <button type="button" id="clearMapButton">Clear Map</button>

    <div id="overlay">
        <p id="status"></p>
    </div>

    <div>
        <form name="mapStyleChoice">
            <input type="radio" id="choice1" name="baseMap" value="osm" />
            <label for="contactChoice1">OSM</label>
        
            <input type="radio" id="choice2" name="baseMap" value="bikeLayer" />
            <label for="contactChoice2">Cycle roads</label>
        
            <input type="radio" id="choice3" name="baseMap" value="bingAerial" />
            <label for="contactChoice3">Aerial</label>
        </form>
    </div>

    <div id="js-map" class="map" ></div>
    
</body>
</html>